@font-face {
  font-family: "M+ 2p";
  src: url("../fonts/mplus-2p-regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "M+ 2p";
  src: url("../fonts/mplus-2p-medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "M+ 2p";
  src: url("../fonts/mplus-2p-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "M+ 2p";
  src: url("../fonts/mplus-2p-heavy.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "RobotoMono";
  src: url("../fonts/RobotoMono-Bold.ttf");
  font-weight: bold;
}

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono-Italic.ttf");
    font-style: italic;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tube-map {
  background-color: "#F9F9FA";
}

text {
  font-family: 'M+ 2p', sans-serif;
  font-size: 14px;
  cursor: pointer;
}

:focus {
  outline: 0;
}

tspan {
  white-space: pre;
}

#container {
  position: relative;
}

#sidebar {
  position: absolute;
  height: 100%;
  width: 30%;
  max-width: 600px;
  background-color: #f6f6f6;
  overflow: auto;
  border-right: 2px solid lightgray;
  opacity: 0.96;
  display: none;
}

img {
  max-width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#sidebar-content {
  font-family: "RobotoMono";
  padding: 10px 30px 100px 30px;
  overflow-wrap: break-word;
  font-size: 15px;
}

a:link, a:visited,
a:hover, a:active {
  color: black;
}

#sidebar-content a {
  font-size: 12px;
}

.hidden {
  display: none;
}
